#bgb-container {
    font-family: sans-serif;
}

#bgb-container canvas{
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;
}
html{
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background:black;
}
#bgb-container #background-video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    -webkit-filter: brightness(0.6);
}

#bgb-container .touch-text-holder{
    color: white;
    pointer-events: none;
    text-align: center;
}

#bgb-container .touch-text-holder .touch-text {
    position: fixed;
    width: 100%
}

#bgb-container .button-holder {
    position: fixed;
    bottom: calc(40px + 77px);
    left: 20px;
    width: 100%;
    pointer-events: none;
}

#bgb-container .button-holder > *{
    transition: opacity 1s;
    opacity: 0;
    width: 152px;
    height: 41px;
    pointer-events: none;
}
#bgb-container .button-holder > *.show {
    pointer-events: all;
}
#bgb-container .button-holder > #references-button{
    right: 20px;
    position: fixed
}
#bgb-container .show {
    opacity: 1.0 !important;
}
#bgb-container .show img,
#bgb-container .show span{
    pointer-events: all !important;
}
#bgb-container .area-under-investigation{
    transition: opacity 1s;
    position: fixed;
    bottom: calc(240px + 77px);
    left: 20px;
    color: white;
    opacity: 0;
    pointer-events: none;
}
#bgb-container .area-under-investigation.show{
    opacity: 1.0;
}
#bgb-container .area-under-investigation.show img{
    pointer-events: all;
}

#bgb-container .area-under-investigation div{
    margin-bottom: 10px;
    font-size: 120%;
    pointer-events: none;

}
#bgb-container .area-under-investigation img {
    position: relative;
    width: 94px;
    height: 81px;
}
#bgb-container .pop-up-holder .attributes-holder {
    margin-top: 10px;
}
#bgb-container .pop-up-holder .attributes-holder > * {
    width: 100%;
    height: 40%;
    position: relative;
    opacity: 0;
    font-weight: bold;
    text-align:center;
    display:none;
    color: rgb(252, 175, 23);
}
#bgb-container .pop-up-holder .attributes-holder *.show {
    opacity: 1.0;
    display: block;
    margin: 0 auto;

    padding-top: 5px;
}
#bgb-container .area-under-investigation #asthma-button {
    
}
#bgb-container .area-under-investigation #large-button {
    top: 45px;
    left: -22px;
}
#bgb-container .area-under-investigation #copd-button {
    top: 88px;
    left: -196px;
}
#bgb-container .area-under-investigation #small-button {
    top:132px;
    left:-218px;
}


#bgb-container .pop-up-holder, #bgb-container .references-pop-up-holder {
    position: fixed;
    text-align: center;
    top: calc(0px + 77px);
    left: 0px;
    width: 100vw;
    height: calc(100vh - 60px - 77px);
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#bgb-container .references-pop-up-container .pop-up-close{
    height: 50px;
    width: 50px;
    font-size: 150%;
}
#bgb-container .references-pop-up-container {
    width: 80%;
    /*height: 80%;*/
    /*
    overflow-y: hidden;
    overflow-x: hidden;
   */
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
    border: 5px solid white;
    border-radius: 12px;
    background-color: rgba(0,0,0,0.8);
    transition: opacity 0.5s;
    opacity: 0;
    /*
    pointer-events: none;
   */
    display: inline-block;
    text-align: left;
    padding-bottom: 10px;
    margin: 0 auto;

    margin-top: -50px;

    /*
    text-align: center;
   */
    height: calc(80vh - 77px - 60px);
}
/*
@media all and (orientation:landscape){
    #bgb-container .references-pop-up-text {
        height: 50vw !important;
    }
}
*/
#bgb-container .references-pop-up-text {
    padding: 12px;
    padding-top: 18px;
    /*



    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-fill: auto;
   */

    overflow-y: hidden;
    overflow-x: hidden;

}
#bgb-container .references-pop-up-text > div{
    /*
    font-size: 70%;
   */
    font-size: 1.05vw;
    display: inline-block;
    padding-bottom: 0.4em;
    padding-right: 8px;
}

#bgb-container .pop-up-container {
    width: 60%;
    min-height: 40%;
    color: white;
    border: 5px solid white;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.8);
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
    display: inline-block;
    text-align: left;
    padding-bottom: 1em;
    margin: 0 auto;
}
#bgb-container .pop-up-container.show, #bgb-container .references-pop-up-container.show {
    pointer-events: all;
}
#bgb-container .pop-up-close {

    float: right;
    width: 40px;
    height: 45px;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 8px;
    margin-top: -5px;
    margin-right: -5px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#bgb-container .pop-up-close span{
    font-size: 150%;
    cursor: pointer;
    margin-right: 3px;
    margin-top: 5px;
}
#bgb-container .pop-up-video-container {
    width: 31%;
    height: 100%;
    display: inline-block;
    float: left;
    padding-left: 10px;
    padding-top: 20px;
}
#bgb-container .pop-up-video-container video{
    margin-top: -42%;
    margin-left: -50%;
    width: 20vw;
    height: 20vw;
    /*
    width: 200%;
    height: 200%;
   */
}
#bgb-container .pop-up-video-container .round-video-mask{
    width: 11vw;
    height: 11vw;
    border: 1px solid gray;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); 
    -webkit-transform: rotate(0.000001deg); 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px;
    border-radius: 9vw;
    overflow: hidden; 
    margin: 0 auto;
}
#bgb-container .pop-up-text-container {
    width: calc(62% - 40px);
    float: left;
    display: inline-block;
    padding: 0px 5px;
}
#bgb-container .pop-up-title {
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 20px;
    font-size: 120%;
}
#bgb-container .pop-up-subtitle {
    font-size: 110%;
    margin-bottom: 15px;
}
#bgb-container .pop-up-text {
    font-weight: lighter;
    font-size: 105%;
    -webkit-padding-start: 5px;
}
#bgb-container .pop-up-text li{
    margin-bottom: 14px;
    line-height: 110%;
}

#bgb-container img#pipeline-logo {
    position: absolute;
    top: 20px;
    left: 60px;
    pointer-events: none;
    transition: opacity 2s;
    opacity: 0;
}
#bgb-container img#pipeline-logo.show {
    opacity: 1.0;
}
#bgb-container img#legal {
    position: absolute;
    bottom: 10px;
    left: 35%;
    pointer-events: none;
    width: 30%;
    text-align: center;
}

#bgb-container div#phase-text-holder {
    position: absolute;
    right: 50px;
    top: 20px;
}

/* Styles taken from bgb app */
#menu-container {
	margin:0;
	padding:0;
	/*overflow:hidden;*/
	font-family:HelveticaNeue,arial,sans-serif;
	font-size:24px;
	line-height:28px;
	color:#ffffff;

}
.nowrap {
	white-space:nowrap;
    pointer-events:none;
}

#footer {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:77px;
	background:#003d67;
	font-size:10px;
	line-height:10px;
	z-index:1;
}
#footer p {
	margin:35px 0 0 35px;
	float:left;
}
#footer .logo {
	float:right;
	margin:20px 35px 0 0;
}
#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;

	position:absolute;
	top:0;
	left:0;
    /*
	width:1920px;
	height:1003px;
	padding:400px 0 0 700px;
   */
	width:100%;
	height:100%;
    
	background:rgba(14,25,40,0.5);
	z-index:1;
	transition:all 0.5s linear;
}
#buttons.header {
	width:100%;
	height:60px;
	padding:0 0 0 75px;
}
#buttons.visible {
	background:#003d67;
}
.button {
	position:relative;
	width:200px;
    /*
	height:200px;
   */
	height:120px;
	padding-top:73px;
	float:left;
	font-family:HelveticaNeue-Bold,arial,sans-serif;
	font-size:24px;
	line-height:28px;
	transition:all 0.5s linear;
}
#buttons.header .button {
	height:40px;
	border-width:0px;
	padding-top:22px;
	background:rgba(68,68,68,0);
	animation:none;
	font-size:12px;
	line-height:15px;
}
.button:before {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:200px;
	height:200px;
	border:2px solid #ffffff;
	border-radius:50%;
	animation:glowPulse 1.5s linear alternate infinite;
	transition:all 0.5s linear;
}
#buttons.header .button:before {
	top:18px;
	left:-30px;
	width:20px;
	height:20px;
	border-width:1px solid;
	animation:glowPulse2 1.5s linear alternate infinite;
}
.button.one {
	display:none;
	width:40px;
	margin-right:60px;
	opacity:0;
}
#buttons.header .button.one {
	display:block;
}
#buttons.visible .button.one {
	opacity:1;
}
.button.two {
	padding-left:30px;
    /*
	margin-right:100px;
   */
}
#buttons.header .button.two {
	width:145px;
	padding-left:0;
	margin-right:60px;
}
.button.three {
	text-align:center;
}
#buttons.header .button.three {
	width:105px;
	text-align:left;
}
#buttons p {
	margin-top:40px;
    text-align: center;
}
iframe, #pipeline {
	left:0;
	width:100%;

	border:none;
	z-index:0;
}
iframe{
    display:none;
    height: calc( 100vh - 77px - 60px );    
    margin: 0 auto;
    position:relative;
}
#iframe-container{
    background-color: black;
    text-align: center;
    height: calc( 100vh - 77px - 60px );    

    position: absolute;
    top: 60px;

}
#pipeline {
	position:absolute;

	top:60px;

    height: calc( 100vh - 77px - 60px );
}
#buttons.home .menu-button-holder {
    margin: 0 auto;
}
@keyframes glowPulse {
	from {box-shadow: 0 0 5px #8ffffe; }
	to {box-shadow: 0 0 80px #8ffffe; }
}
@keyframes glowPulse2 {
	from {box-shadow: 0 0 2px #8ffffe; }
	to {box-shadow: 0 0 20px #8ffffe; }
}

